$font-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$color-black: #212521;
$color-lightblack: #555b61;

@import 'node_modules/reset-css/_reset.scss';

/* --- END RESET --- */

* { box-sizing: border-box; }

html {
	font-size: 16px;
	font-family: $font-helvetica;
	color: $color-black;
}

body {
	margin: 0;
	padding: 0;
}

p {
	line-height: 150%;
	max-width: 80ch;
	margin: 0;
	margin-bottom: 0.5rem;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	display: block;
	font-family: $font-roboto;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin: 0;
	margin-bottom: 1rem;
}

h1, .h1 {
	font-size: 2.5rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}

h2, .h2 {
	font-size: 2rem;
	line-height: 1.5rem;
	margin-bottom: 1.15rem;
}

h3, .h3 {
	font-size: 1.5rem;
	line-height: 1.25rem;
}

h4, .h4 {
	font-size: 1.25rem;
	line-height: 1rem;
}

button, .button, input[type="button"], input[type="submit"] {
	display: inline-block;
	color: white;
	background-color: $color-black;
	margin: 0;
	margin-bottom: 1rem;
	margin-right: 0.5rem;
	border: none;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	padding: 0 1rem;
	text-decoration: none;
	font-family: $font-helvetica;
	font-weight: bold;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition:
		background-color 0.15s,
		box-shadow 0.2s,
		color 0.1s,
		border-color 0.15s;

	&:hover, &:focus {
		background-color: $color-lightblack;
		box-shadow: 0 0.05rem 0.3rem 0.1rem rgba(0, 0, 0, 0.15);
		outline: none;
	}

	&:active {
		background-color: $color-black;
	}

	&.button--ghost {
		background-color: white;
		border: 0.15rem solid $color-black;
		color: $color-black;
		line-height: 1.2rem;

		&:hover, &:focus {
			background-color: $color-lightblack;
			border-color: $color-lightblack;
			color: white;
		}

		&:active {
			background-color: $color-black;
			border-color: $color-black;
		}
	}
}

input[type="text"], select, textarea {
	display: inline-block;
	height: 2.5rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	line-height: 2.25rem;
	border: 0.1rem solid $color-black;
	padding: 0 0.5rem;
	margin: 0;
	margin-right: 0.5rem;
	width: 15rem;
	margin-bottom: 1rem;
	transition: box-shadow 0.2s;
	font-family: $font-helvetica;

	&:active, &:focus {
		box-shadow: 0 0 0 0.075rem $color-black;
		outline: none;
	}
}

select { width: auto; }

textarea {
	height: 6rem;
	min-height: 6rem;
	resize: vertical;
	line-height: 150%;
	padding: 0.5rem;
}

label {
	margin-right: 0.5rem;
	font-size: 1rem;

	&.label--top {
		display: block;
		margin-right: 0;
		margin-bottom: 0.25rem;
	}
}

ul {
	list-style-type: disc;
	margin-left: 1.5rem;
	font-size: 1rem;
	line-height: 150%;
}

#wrapper {
	min-width: 760px;
	position: relative;
}

.page {
	min-width: 760px;
	max-width: 960px;
	margin: 0 auto;
}

header {
	position: relative;
	padding-bottom: 8rem;
}

#tours-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* --- Glidejs css --- */
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

/* --- Glidejs theme --- */
.glide {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, rgba(255, 255, 255, 0.75), transparent 15%, transparent 85%, rgba(255, 255, 255, 0.75) 100%);
		pointer-events: none;
	}
}

.glide__slides {
	padding: 1rem 0;
}

@keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}

li.glide__slide {
	position: relative;
	border-radius: 0.5rem;
	transition: transform 0.5s, box-shadow 0.5s;
	transform: scale(0.95);
	height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	cursor: pointer;

	& .glide__slide__content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-bottom: 3.5rem;
		padding-right: 2rem;
		z-index: 3;
	}

	& h1, & a {
		display: block;
		width: 100%;
		opacity: 0;
		transform: translateY(1rem);
		transition: opacity 0.5s, transform 0.5s;
		color: white;
		text-align: right;
		margin-bottom: 0.5rem;
	}

	& a {
		transition: opacity 0.5s 0.1s, transform 0.5s 0.1s;
	}

	&.glide__slide--active {
		transform: scale(0.98);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		& h1, & a {
			opacity: 1;
			transform: none;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, rgba($color-black, 0.5), transparent);
			animation-name: fade-in;
			animation-duration: 0.5s;
			border-bottom-right-radius: inherit;
			border-bottom-left-radius: inherit;
		}

		&:hover {
			transform: scale(1);
		}
	}
}

.logo-circle {
	float: left;
	width: 10rem;
	height: 10rem;
	min-width: 12rem;
	min-height: 12rem;
	background-color: white;
	border-radius: 50%;
	margin-top: -6rem;
	margin-right: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-nav {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	min-width: 750px;
	text-align: left;
}

#nav-container {
	width: 100%;
	text-align: center;
	
	& #main-nav {
		text-align: center;
	}
}

#home-nav-container {
	margin: 0 auto;
	height: 8rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 3;
	text-align: center;
}

#main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;

	& li {
		font-family: $font-roboto;
		font-size: 2rem;
		text-transform: uppercase;
		margin-right: 2rem;
		display: block;
		float: left;
		position: relative;
		padding: 1rem 0;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.2rem;
			background: $color-black;
			transition: transform 0.25s;
			transform: scaleX(0);
		}

		&:hover::after {
			transform: scaleX(1);
		}
	}

	& a {
		text-decoration: none;
		color: $color-black;
	}
}

.home-card {
	padding: 5rem 3rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	width: 40rem;
}

.clip-bottom {
	margin-bottom: -2rem;
}

.big-text {
	font-size: 3rem;
	line-height: 2.5rem;
	margin-bottom: 1rem;
}

.text-centered {
	text-align: center!important;
}

.block-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block-left {
	display: block;
	margin-left: 0;
	margin-right: auto;
}

.block-right {
	display: block;
	margin-left: auto;
	margin-right: 0;
}

.rounded {
	border-radius: 0.5rem;
}

.inverted {
	background-color: $color-black;
	color: white;
}

/* THE REST OF THESE ARE AUTO GENERATED HELPER CLASSES USING SASS SCRIPTS */
/* (Normally I would compress this file to get rid of whitespace) */
$mp-props: m p;
$mp-sides: t b l r;

$mp-props-f: margin padding;
$mp-sides-f: top bottom left right;

// https://css-tricks.com/snippets/sass/power-function/
@function pow($number, $exponent) {
	$value: 1;
  
	@if $exponent > 0 {
	  @for $i from 1 through $exponent {
		$value: $value * $number;
	  }
	}
  
	@return $value;
  }

@for $p from 1 through 2 {
	@for $m from 0 through 6 {
		@for $s from 1 through 4 {
			.#{nth($mp-props, $p)}#{nth($mp-sides, $s)}-#{$m} {
				#{nth($mp-props-f, $p)}-#{nth($mp-sides-f, $s)}: pow($m, 2) * 1rem !important;
			}
		}

		.#{nth($mp-props, $p)}-#{$m} {
			#{nth($mp-props-f, $p)}: pow($m, 2) * 1rem!important;
		}
	}
}